{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <title>e-commerce-clone</title>
    <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/login.css' %}">
    <link rel="stylesheet"  href="{% static 'css/normalize.css' %}"> 
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
<div id="content">
    
    <div class="section_login">
        <h3 class="tit_login">비밀번호 찾기</h3>

        <div class="layer_parent">
            
            <div class="write_form find_view">
                <form name="certForm" method="post" action="{% url 'accounts:login' %}" target="certFrame">
                    {% csrf_token %}

                    <strong class="tit_label">새 비밀번호 등록</strong>
                    
                    <input type="password" name="newPassword" id="newPassword" class="password" onfocus="pwValidate.checkNewPassword(document.frmMember)" onkeyup="pwValidate.checkNewPassword(document.frmMember)" onblur="pwValidate.emptyPwState()" maxlength="16" placeholder="새 비밀번호를 입력해주세요">
                    <p style="text-align:left;" class="pw_chk">
                        최소 10글자 이상/영문, 숫자, 특수문자 2개 이상 조합<br>
                    </p>
                    <strong class="tit_label">새 비밀번호 확인</strong>
                    <input type="password" name="confirmPassword" class="password" id="confirmPassword" maxlength="16" placeholder="새 비밀번호를 한 번 더 입력해주세요">
                    <p class="pw_confirm"></p>
                    <button type="button" class="btn_type1">
                        <span class="txt_type">확인</span>
                        <!-- 로그인페이지 이동-->
                    </button>

                </form>
                
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        $('.btn_type1').click(function(){
            if($('#newPassword').val() != $('#confirmPassword').val()){
                alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.');
                history.go(0);
            }
            else{
                alert('비밀번호가 변경되었습니다. 로그인 해주세요.')                
                document.certForm.submit();
            }
        });
    });
</script>

{% endblock%}