@charset "utf-8";

body.layout_login {
    margin-bottom: 0!important;
    background-color: #fff;
}

.layout-main-wrapper {
    position: relative;
}

.layout_login .layout-main-wrapper {
    height: auto;
}

#wrap, 
.preload:after {
    height: 100%;
    width: 100%;
}

#header {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
}

.layout_login #header {
    border-bottom: 0;
}

#header .logo .tit {
    display: block;
    overflow: hidden;
    padding: 17px 50px 0;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.layout_login2 #header .link_back {
    background: url(https://res.kurly.com/mobile/service/common/1908/ico_close_333_100x100.png) no-repeat 50% 50%;
    background-size: 50px 50px;
}

.tab_comm {
    overflow: hidden;
}

.tab_comm li {
	overflow: hidden;
	width: 100%;
}

.tab_comm .menu {
    display: block;
    overflow: hidden;
    position: relative;
    height: 44px;
    padding-top: 11px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
	text-align: center;
}

.tab_comm .on {
    font-weight: 500;
    color: #5f0080;
}

.tab_comm .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
	background-color: #ccc;
	height: 3px;
    background-color: #5f0080;
}

.section_login .write_form {
    padding: 30px 20px 0;
}

.section_login .login_view {
    text-align: center;
}

.inp_initialization {
    position: relative;
}

.inp_initialization .btn_initialization {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 48px;
    border: none;
    background: url(https://res.kurly.com/mobile/ico/2009/ico_search_del.svg) no-repeat 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}

.inp_initialization .btn_initialization.on {
	/* js로 클릭 시 on 붙이기 */
	display: block;
}

.section_login [name=password],
.section_login [name=ordno],
.section_login [name=srch_mail],
.section_login [name=srch_id] {
    margin-top: 10px;
}

.section_login .checkbox_save {
    overflow: hidden;
    padding: 10px 0 26px;
}

.section_login label {
    padding-left: 12px;
    font-size: 13px;
    color: #666;
    letter-spacing: -.6px;
}

.section_login .checkbox_save label:first-child {
    float: left;
    padding-left: 0;
}

.section_login [type=checkbox] {
    margin-right: 3px;
}

.section_login .auto_security {
    float: right;
}

.section_login .login_search {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 0;
}

.section_login .login_search .link {
    float: left;
    height: 40px;
    padding: 15px 6px 0;
    font-size: 13px;
    color: #666;
    letter-spacing: -.6px;
}

.section_login .login_search .bar {
    float: left;
    width: 1px;
    height: 10px;
    margin-top: 15px;
    background-color: #666;
}

.section_login .btn_type2 {
    margin-top: 10px;
}

.section_login .btn_member {
    margin-top: 30px;
}

.bg_loading {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(https://res.kurly.com/pc/img/1909/img_loading_128x128.gif) no-repeat 50% 50%;
    background-size: 16px 16px;
}

.bg_loading.show {
    display: block;
}

.bg_loading.hide {
    display: none;
    opacity: 0;
}

#header {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
}

#header .logo .tit {
    display: block;
    overflow: hidden;
    padding: 17px 50px 0;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#header .link_back {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(https://res.kurly.com/mobile/service/common/2006/ico_navi_back.svg?v=1) no-repeat 0 50%;
    background-size: 50px 50px;
}

.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
}

#header .cart_count {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(https://res.kurly.com/mobile/service/common/2011/ico_navi_cart_black.svg) no-repeat 50% 50%;
    background-size: 50px 50px;
}

#header .cart_count .num_count {
    display: none;
    position: absolute;
    right: 12px;
    top: 8px;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #5f0080;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}






















#header-bottom {
    height: calc(49px + env(safe-area-inset-bottom));
}

.menu_shortcut {
    position: fixed;
    z-index: 300;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.menu_shortcut .list {
    overflow: hidden;
}

.menu_shortcut li {
    float: left;
    width: 25%;
}

.menu_shortcut a {
    display: block;
    overflow: hidden;
    height: 100%;
    padding: 3px 0 0;
    font-size: 10px;
    color: #333;
    line-height: 20px;
    text-align: center;
}

.menu_shortcut .shortcut_home:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_home.svg?ver=2);
}

.menu_shortcut a:before {
    content: "";
    display: block;
    width: 24px;
    height: 25px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px 24px;
}

.menu_shortcut .shortcut_menu:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_cate.svg?ver=2);
}


.menu_shortcut .shortcut_search:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_search.svg?ver=2);
}

.menu_shortcut li:last-child {
    float: none;
    width: auto;
}

.menu_shortcut .shortcut_mypage {
    position: relative;
}

.menu_shortcut .on {
    color: #5f0080;
}

.menu_shortcut .on.shortcut_mypage:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_mypage_on.svg?ver=2);
}

.menu_shortcut .on.shortcut_search:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_search_on.svg?ver=2);
}

body #header_purple{
    border-bottom: 0;
    background-color: #5f0080;
}


#header_purple {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
}

#header_purple  .logo .tit {
    color: #fff;
}

#header_purple .logo .tit {
    display: block;
    overflow: hidden;
    padding: 17px 50px 0;
    font-weight: 600;
    font-size: 16px;

    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body #header_purple  .location {
    background: url(https://res.kurly.com/mobile/service/common/2011/ico_navi_location_white.svg?v=2) no-repeat 50% 50%;
}

#header_purple .location {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 46px;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(https://res.kurly.com/mobile/service/common/2011/ico_navi_location_black.svg?v=2) no-repeat 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}

body #header_purple  .cart_count {
    background: url(https://res.kurly.com/mobile/service/common/2011/ico_navi_cart_white.svg) no-repeat 50% 50%;
    background-size: 50px 50px;
}


#header_purple .cart_count {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(https://res.kurly.com/mobile/service/common/2011/ico_navi_cart_black.svg) no-repeat 50% 50%;
    background-size: 50px 50px;
}

#header_purple .header_shortcut .cart_count .num_count {
    border: 2px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
}

#header_purple .cart_count .num_count {
    display: none;
    position: absolute;
    right: 12px;
    top: 8px;
    width: 14px;
    height: 13px;;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #5f0080;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.menu_shortcut .on.shortcut_menu:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_cate_on_v2.svg?ver=2);
}

.menu_shortcut .on.shortcut_home:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_home_on.svg?ver=2);
}

.menu_shortcut .shortcut_mypage:before {
    background-image: url(https://res.kurly.com/mobile/service/common/2011/ico_mypage.svg?ver=2);
}

input[type=search],
input[type=email],
input[type=password],
input[type=text],
input[type=number],
textarea, .field_address .txt_address, .birth_day {
    width: 100%;
    height: 48px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

/* input search clear 버튼 삭제 */
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

label {
    position: relative;
    font-size: 16px;
    color: #333;
    line-height: 24px;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=checkbox]+.ico, input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 2px;
    background: 0 0;
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=checkbox]:checked+.ico, input[type=checkbox]:checked {
    border-radius: 0;
    border: 0;
    background: transparent url(https://res.kurly.com/mobile/service/common/1908/ico_checkbox_checked.png) no-repeat 0 0;
    background-size: 16px 16px;
}

.btn_type1, .btn_type2, .btn_type3, .btn_type4, .btn_type5, .btn_type99, .btn_type100 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    font-size: 0;
    text-align: center;
    outline: none;
}

.btn_type1 {
    border: 1px solid #5f0081;
    background-color: #5f0080;
}

.btn_type2 {
    border: 1px solid #ddd;
    background-color: #fff;
}

.btn_type1 .txt_type, .btn_type2 .txt_type, .btn_type3 .txt_type, .btn_type4 .txt_type, .btn_type5 .txt_type, .btn_type99 .txt_type, .btn_type100 .txt_type {
    display: inline-block;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    text-align: center;
}

.btn_type1 .txt_type {
    color: #fff;
}

.btn_type2 .txt_type {
    color: #333;
}