{% extends 'base.html' %}
{% block title %}메인{% endblock %}
{% block content %}
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    </head>
    <div id="visual">
            <h2 class="blind">마켓컬리 메인</h2>
            <div class="swipe">
                <ul class="promotions">
                    <li data-index="1" class="slide_list">
                        <a href="#" class="thumb" style="background-color: #F56A65;"></a>
                    </li>
                    <li data-index="2" class="slide_list">
                        <a href="#" class="thumb" style="background-color: #D34EFC;"></a>
                    </li>
                    <li data-index="3" class="slide_list">
                        <a href="#" class="thumb" style="background-color: #535FE6;"></a>
                    </li>
                    <li data-index="4" class="slide_list">
                        <a href="#" class="thumb" style="background-color: #4EEBFC;"></a>
                    </li>
                    <li data-index="1" class="slide_list">
                        <a href="#" class="thumb" style="background-color: #4BF271;"></a>
                    </li>
                </ul>

                <div class="controls_direction" style="display: none;">
                <!-- bg url 처리 -->
                    <a href="prev">이전으로</a>
                    <a href="next">다음으로</a>
                </div>
            </div>
        </div>
        <!-- id="visual" -->
{% endblock %}